.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}


/* SOLUZIONI */
@media screen and (max-width:992px) {
  .row{
    width: 90%;
    margin-top: 50px;
  }
}

@media screen and (max-width:419px) {
    /* SOLUZIONI LEZIONI */
    #lezioni .row>.left,
    #lezioni .row>.right {
      width: 100%;
      float: none;
      margin-top: 60px;
    }
    #lezioni .row .left img{
      display: block;
      width: 60%;
      margin: auto;
    }
    #lezioni .row img {
      display: block;
      width: 70%;
      height: auto;
    }

    /* SOLUZIONI STEPS */
    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
      float: none;
      width: 100%;
      margin-top: 70px;
    }

    #steps {
      text-align: center;
      margin-top: 80px;
    }

    #steps .row img{
      width: 60%;
      height: auto;
    }

    /* SOLUZIONI PERCHE */
    #why {
      text-align: center;
      margin-top: 80px;
    }
    
    #why .row img {
      width: 50%;
      height: auto;
      background-color: #428bca;
      border-radius: 50%;
      padding: 30px
    }
    
}